/**
 * By Brooke.
 **/

/* Global Styles */
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|IBM+Plex+Mono|Poppins');

* {
  font-family: 'Didact Gothic'
}

html,body{
  width: 100%;
  height: 100%;
  margin: 0; 
  padding: 0;
  border-width: 5px;
  display: block;
  background-image: url('./images/bckgd.jpg');
  background-size: cover;
}


/* Styles */
h2, input[name="title"], textarea {
  font-family: 'IBM Plex Mono';
}

p.instructions {
	font-family: monospace;
	font-size: 18px;
	text-align: left;
  color: white;
}

.note-editor input[name="title"] {
  font-size: 24px;
  font-weight: 700;
  margin: 0.3em 0;
  box-sizing: border-box;
}

.note-editor textarea {
  font-size: 1em;
  box-sizing: border-box;
  resize: none;
}

.nav-bar {
  width: 100%;
  font-family: 'IBM Plex Mono';
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px 10px 10px 0px;
  color: white;
}

.nav-item {
  list-style: none;
  color: white;
  padding: 4px;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border: 2px solid black;
  background-color: white;
}

.search-bar {
  width: 85%;
  justify-content: right;
}

input {
  font-size: 24px;
  height: 40px;
  width: 100%;
  border: none;
}

input::placeholder {
  padding-left: 10px;
  color: black;
  font-weight: bolder;
}

div.sidebar button {
  width: 20%;
  float: right;
}

div.bottom-div select {
width: 20%;
 margin: 10px 5px 5px 0px;
 border-radius:15px;
 border: 1px solid black;
 background-color: rgb(13, 77, 58);
 color: white;
 padding: 5px 10px;
}

div.sidebar select {
 width: 20%;
 margin: 0px 10px 10px 0px;
 border-radius:15px;
 border: 1px solid black;
 background-color: rgb(13, 77, 58);
 color: white;
 padding: 5px 10px;
}

div.sidebar ul {
  margin: auto;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
}

div.bottombar ul {
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

div.sidebar ul li {
  list-style: none;
  padding: 0 5px;
  background-color: white;
  margin: 3px;
  border-radius:15px;
  border: 2px solid black;
}

div.bottombar ul li {
  list-style: none;
  padding: 0 5px;
  background-color: white;
  margin: 3px;
  border-radius:15px;
  border: 2px solid black;
}

div.sidebar ul li:first-child {
  background-color: white;
  margin: 3px;
}

div.bottombar ul li:first-child {
  background-color: white;
  margin: 3px;
  display: inline-block;
  text-align: left;
  padding: 14px;
  text-decoration: none;
}

div.sidebar ul li:hover {
  /* background-color: yellow; */
  background-image: linear-gradient(#E6E6E6, #F7F7F7);
  background-repeat: no-repeat;
}

div.bottombar ul li:hover {
  /* background-color: yellow; */
  background-image: linear-gradient(#E6E6E6, #F7F7F7);
  background-repeat: no-repeat;
}


/* Layout Styles */
.app {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 10px);
  margin: 0;
}

.container {
  flex: 1;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

.master-detail-element {
  float:left;
  margin: 10px 0px;
  padding: 20px;
}

.sidebar {
  width: 100%;
  border-radius:15px;
}

.bottombar {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

.detail {
  width: 90%;
  height: 100;
  margin: auto;
  border-radius:15px;
}

.view-div {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  background-color: white;
  border-radius: 15px;
  border: 2px solid rgb(17, 105, 79);
  overflow-wrap: break-word;
}

.note-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.note-editor textarea {
  flex: 1;
}

.button-row {
  margin-top: 10px;
}


/* Button Style */
input[type="submit"] {
  height: auto;
  width: auto;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + *::before{
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}

label > input[type="radio"]:checked + *::before {
  background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent);
  border-color: teal;
}
label > input[type="radio"]:checked + * {
  color: teal;
}

button, input[type="submit"] {
  width: 125px;
  border-radius: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 35px;
  border: 0px;
  background-repeat: no-repeat;
  background-color: rgb(13, 77, 58);
  color: white;
  font-size: 14px;
  letter-spacing: 0.5px;
  border: 1px solid black;
}

button:hover, input[type="submit"]:hover {
  background-image: linear-gradient(to right top, #000000, #236660, #014131);
  background-repeat: no-repeat;
}

button:focus, input[type="submit"]:focus {
  outline: none;
}